.cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  padding: 20px 0 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

.card__image {
  width: 413px;
  height: 413px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__title {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #212121;
  max-width: 353px;
}

.card__like-icon {
  width: 23px;
  height: 20px;
  display: block;
  position: relative;
  top: 5px;
}

.card__like-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.15s ease;
}

.card__like-button:hover {
  opacity: 1;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card__title {
    max-width: 235px;
  }

  .card__image {
    width: 100%;
    height: 288px;
  }
}
