.header {
  max-width: 1440px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media (max-width: 630px) {
  .header {
    max-width: none;
    margin: 0;
    padding: 10px 20px;
  }
}
