.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: block;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
  text-transform: capitalize;
  margin-bottom: 32px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 52px;
  margin-top: 8px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__input::placeholder {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.4);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #212121;
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: calc(100% - 40px);
    padding: 25px 20px;
  }
}
