body {
  margin: 0;
  background-color: #fcf5e5;
}

.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  background-color: #fcf5e5;
  padding: 0 20px;
}

.page__section {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 1320px) {
  .content {
    padding: 0;
  }
}

@media (max-width: 630px) {
  .content {
    padding: 0 16px;
  }
}
