.profile {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

.profile__info {
  margin-left: 20px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 190px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__title {
  margin: 0 0 12px 0;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  max-width: 420px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121b2;
  max-width: 420px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__add-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  height: 52px;
  padding: 18px 32px;
  align-self: flex-end;
}

.profile__add-button:hover {
  opacity: 0.8;
  transition: opacity 200ms;
}

.profile__edit-button {
  background: transparent;
  border: none;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  opacity: 0.8;
}

.profile__edit-button:hover {
  opacity: 1;
  transition: opacity 200ms;
}

@media (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    gap: 12px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__info {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 288px;
  }

  .profile__add-button {
    align-self: center;
    margin-top: 0;
    width: 100%;
    justify-content: center;
  }

  .profile__edit-button {
    margin-top: 0;
    margin-bottom: 32px;
    justify-content: center;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }

  .profile__title {
    margin: 0 0 6px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
}
